.search-bar {
    position: fixed;
    top: 16px; /* Khoảng cách từ trên cùng của trang */
    left: 0;
    right: 0;
    padding: 0 16px;
    background-color: white; /* Màu nền cho thanh tìm kiếm */
    z-index: 1000; /* Đảm bảo thanh tìm kiếm nằm trên cùng các phần tử khác */
  }
  
  .content-area {
    padding-top: 80px; /* Khoảng cách từ trên cùng cho nội dung chính để không bị che khuất bởi thanh tìm kiếm */
  }