.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo{
    width: 130px;
}

img.icon{
    width: 20px;    
    height: 20px;
    cursor: pointer;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #38B6FF;
    font-size: 15px;
    font-weight: 400px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;  
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #38B6FF;
    border: 1px solid #38B6FF;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar button:hover{
    background-color: #38b6ffac;
    color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #38B6FFac;

}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #38B6FF;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size:  15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu{
        display: none;
    }

}

.navbar-profile .icon_profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-profile-dropdown li img{
    width: 20px;
}

.navbar-profile{
    position: relative;
    cursor: pointer;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #38B6FF;
    outline: 2px solid white;
    list-style: none;
    width: 210px;
    
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li p{
    font-size: 14px;
}

.nav-profile-dropdown li:hover{
    color: #38B6FF;
}

