.list-table-format{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    width: auto;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title{
    background-color: #38B6FF;
    color: white;
}
.list-table-format img{
    width: 60px;
}
.list-table-format img.iconAction{
    width: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.list-table-format img.iconAction_edit{
    width: 30px;
    height: 20px;
    margin-bottom: 3px;
    cursor: pointer;
}
.img_container .product_image{
    display: flex;
    justify-content: space-between;
}
button {
    padding: 8px 12px;
    background-color: #38B6FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2a92cc;
}
/* Style for the search container */
.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  /* Style for the search input */
  .search-input {
    width: 100%;
    max-width: 300px; /* Adjust based on your layout */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #007bff; /* Highlight border color when focused */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Add focus shadow */
  }
